<footer>
  <div class="desc">
    <div class="logo">
      <%- include('./logo.ejs') %>
      <h4>Indahlia</h4>
    </div>
    <p>
      sebuah platform sistem informasi yang memberikan data mengenai kerusakan
      lingkungan terutama perairan agar kedepannya banyak orang yan akhirnya
      peduli terhadap air yang setiap hari menjadi kebutuhan utama setiap
      manusia
    </p>
  </div>
  <div class="menu">
    <h4>menu</h4>
    <ul>
      <li>beranda</li>
      <li>tentang</li>
      <li>sumber air</li>
      <li>blog</li>
      <li>dashboard</li>
    </ul>
  </div>
  <div class="medsos">
    <h4>media sosial</h4>
    <div class="icon">
      <i class="bi bi-whatsapp"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-facebook"></i>
    </div>
  </div>
</footer>
