<nav class="navbar">
  <a href="#" class="navbar-logo">Indahlia</a>
  <div class="navbar-nav">
    <a href="/">Tentang</a>
    <a href="/maps">Wisata Alam</a>
    <a href="/workshop">Pelatihan</a>
    <a href="/blog">Blog</a>
    <a href="/login" class="btn">Login</a>
  </div>
  <div class="navbar-extra">
    <a id="menu"><i class="bi bi-list"></i></a>
  </div>
</nav>
