<div class="sidebar">
  <div class="logo-details">
    <%- include('./logo.ejs') %>
    <div class="logo_name">Indahlia</div>
    <i class="bi bi-list" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/dashboard/">
        <i class="bi bi-grid"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="/dashboard/article">
        <i class="bi bi-journal"></i>
        <span class="links_name">Artikel</span>
      </a>
      <span class="tooltip">Artikel</span>
    </li>
    <li>
      <a href="/dashboard/place">
        <i class="bi bi-geo-alt"></i>
        <span class="links_name">Tempat</span>
      </a>
      <span class="tooltip">Tempat</span>
    </li>
    <li>
      <a href="/dashboard/report">
        <i class="bi bi-exclamation-circle"></i>
        <span class="links_name">Laporan</span>
      </a>
      <span class="tooltip">Laporan</span>
    </li>
    <li>
      <a href="/dashboard/volunteer">
        <i class="bi bi-person-video2"></i>
        <span class="links_name">Relawan</span>
      </a>
      <span class="tooltip">Relawan</span>
    </li>
    <li>
      <a href="/dashboard/class">
        <i class="bi bi-card-text"></i>
        <span class="links_name">Kelas </span>
      </a>
      <span class="tooltip">Kelas</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <img src="<%= profile %>" alt="profileImg" />
        <div class="name_job">
          <div class="name">Hasheemi Rafsanjani</div>
        </div>
      </div>
      <i class="bi bi-box-arrow-left" id="log_out"></i>
    </li>
  </ul>
</div>

<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  searchBtn.addEventListener("click", () => {
    // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if (sidebar.classList.contains("open")) {
      closeBtn.classList.replace("bi-list", "bi-x-lg"); //replacing the iocns class
    } else {
      closeBtn.classList.replace("bi-x-lg", "bi-list"); //replacing the iocns class
    }
  }
</script>
