<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat: DahliAI Pakar Lingkungan Siap Membantu</title>
    <%- include('components/exstyles') %>
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="hero">
      <div class="content">
        <h1>IndahliAI chatbot</h1>
        <p>
          Tanyakan mengenai lingkungan, ekosistem, bioekologi dan pertanyaan
          lainnya, di desain menggunakan gemini untuk menjawab pertanyaan anda
          seputar lingkungan
        </p>
      </div>
    </div>
    <section class="layout chat-container">
      <div class="chat-box" id="chat-box">
        <!-- Chat messages -->
        <div class="chat-message user-message">
          <div>Halo IndahliAI</div>
        </div>
        <div class="chat-message ai-message">
          <div>
            <h4>Jawaban AI <i class="bi bi-stars"></i></h4>
            Hai apa yang bisa saya bantu hari ini

            <p>
              saya bisa menjawab pertanyaan mengenai lingkungan hidup, ekologi,
              biologi dll
            </p>
          </div>
        </div>
      </div>
      <div class="chat-form" id="chatForm">
        <input
          type="text"
          class="chat-input"
          id="chat-input"
          placeholder="Type your message here..."
        />
        <button type="submit" class="chat-submit" onclick="sendQuestion()">
          Kirim
        </button>
      </div>
    </section>
    <%- include('components/float') %> <%- include('components/footer') %>
    <script src="/js/navbar.js"></script>
    <script>
      async function sendQuestion() {
        const questionInput = document.getElementById("chat-input");
        const question = questionInput.value;
        const chatContainer = document.getElementById("chat-box");

        try {
          chatContainer.innerHTML += `
     <div class="chat-message user-message">
         ${marked.parse(question)}
          </div>
        </div>
    `;
          const response = await fetch("/ask", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ question }),
          });

          const data = await response.json();
          if (data) {
            displayResponse(data.res);
          } else {
            displayResponse("Error: ");
          }
        } catch (error) {
          console.error("Error:", error);
          displayResponse("An error occurred while sending the question.");
        }
        questionInput.value = "";
      }
      function displayResponse(reply) {
        const chatContainer = document.getElementById("chat-box");
        chatContainer.innerHTML += `
     <div class="chat-message ai-message">
         ${marked.parse(reply)}
          </div>
        </div>
    `;
      }
    </script>
  </body>
</html>
