<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Indahlia: Sistem Informasi Untuk Lingkungan yang Lebih Bersih</title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="hero">
      <div class="content">
        <h1>
          Terus Bergerak <br />
          Bersih Berdampak
        </h1>
        <p>
          Kesadaran lingkungan masyarakat saat ini mungkin perlu dipertanyakan,
          berbagai bencana disebabakan oleh kelalaian manusia, mari bersama
          menatata kembali lingkungan menjadi lebih asri dan bersih. Biarkan
          bungan dahlia mekar nan indah
        </p>
        <button>lebih lanjut</button>
      </div>
    </div>
    <section class="layout about">
      <div class="left">
        <h2>tentang kami</h2>
        <div class="line"></div>
        <p>
          Indonesia memiliki lingkungan yang kaya, namun pencemaran akibat
          sampah menjadi tantangan besar. Sebagian besar kerusakan disebabkan
          oleh limbah yang tidak terkelola, akibat kurangnya kesadaran
          masyarakat. Kami hadir untuk menjaga kelestarian lingkungan dan
          mengedukasi pentingnya pengelolaan sampah demi masa depan yang
          berkelanjutan.
        </p>
        <button>lebih lanjut</button>
      </div>
      <div class="right">
        <img src="/img/reboisasi.jpeg" alt="" class="med" />
        <img src="/img/plastik.jpeg" alt="" class="big" />
      </div>
    </section>
    <section class="layout mission">
      <div class="left">
        <div class="list">
          <div class="toast">
            <div class="icon"><i class="bi bi-eye"></i></div>
            <span>Implementing</span>
          </div>
          <div class="toast">
            <div class="icon"><i class="bi bi-exclamation-diamond"></i></div>
            <span>Reporting</span>
          </div>
          <div class="toast">
            <div class="icon"><i class="bi bi-table"></i></div>
            <span>Educating</span>
          </div>
        </div>
        <img src="/img/danau.jpeg" alt="" />
      </div>
      <div class="right">
        <h2>
          misi kami <br />
          untuk lingkungan
        </h2>
        <p>
          Kami bermimpi untuk melihat Indonesia menjadi lebih bersih, nampaknya
          itu bukanlah hal yang mudah dan membutuhkan kerja keras. Oleh karena
          itu kami memulai dengan menerima pengaduan terkait pencemaran
          lingkungan , memberikan edukasi kepada masyarakat luas terkait
          kebersihan dan juga mengumpulkan relawan untuk memulai aksi nyata
          membersihkan sumber air yang tercemar
        </p>
        <!-- <button>lebih lanjut</button> -->
      </div>
    </section>
    <section class="layout destination">
      <h2>wisata alam menakjubkan</h2>
      <p>
        Indonesia memiliki objek wisata yang menjadi daya tarik wisatawan baik
        domestik maupun mancanegara. Sudah sepatutnya kita bangga dan merasa
        bertanggung jawab atas kebersihan objek wisata tersebut
      </p>
      <div class="container">
        <div class="card">
          <img src="/img/pantai-pintu.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/pantai-pink.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/air-terjun-sipiso.jpg" alt="" />
        </div>
        <div class="card">
          <img src="/img/teluk-kiluan.png" alt="" />
        </div>
        <div class="card">
          <img src="/img/danau-sentarum.jpg" alt="" />
        </div>
      </div>
    </section>
    <section class="layout workshop">
      <div class="top">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dicta
          temporibus delectus. Deserunt officia, unde, voluptate itaque aliquam
          facere rerum dicta accusantium provident voluptas ipsa optio vel, at
          eum. Ex! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Eveniet, sunt.
        </p>
        <h2>Tingkatkan Kesadaranmu Akan Lingkungan</h2>
      </div>
      <div class="bottom">
        <!-- Card 1 -->
        <div class="card">
          <img
            src="/img/danau.jpeg"
            alt="Course Thumbnail"
            class="card-image"
          />
          <div class="card-content">
            <p class="author">By Ahmad Hakim</p>
            <h3>Membangun Aplikasi Cek Ongkir Menggunakan...</h3>
            <div class="info">
              <p>Intermediate &bull; 1 Jam</p>
              <p>715 Siswa &bull; 13 Modul</p>
            </div>
            <div class="rating">
              <span>⭐ 4.8</span>
              <button class="small">detail</button>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
          <img
            src="/img/danau.jpeg"
            alt="Course Thumbnail"
            class="card-image"
          />
          <div class="card-content">
            <p class="author">By Muhammad Singgih Z.A</p>
            <h3>Memahami Cara Kerja Tim IT di Perusahaan yang...</h3>
            <div class="info">
              <p>Intermediate &bull; 1 Jam</p>
              <p>428 Siswa &bull; 22 Modul</p>
            </div>
            <div class="rating">
              <span>⭐ 4.8</span>
              <button class="small">detail</button>
            </div>
          </div>
        </div>
        <div class="card">
          <img
            src="/img/danau.jpeg"
            alt="Course Thumbnail"
            class="card-image"
          />
          <div class="card-content">
            <p class="author">By Muhammad Singgih Z.A</p>
            <h3>Memahami Cara Kerja Tim IT di Perusahaan yang...</h3>
            <div class="info">
              <p>Intermediate &bull; 1 Jam</p>
              <p>428 Siswa &bull; 22 Modul</p>
            </div>
            <div class="rating">
              <span>⭐ 4.8</span>
              <button class="small">detail</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="layout blog">
      <h2>artikel teraktual</h2>
      <p>
        Jangan sampai ketinggalan berita terupdate soal lingkungan dan inovasi
        teknologi untuk lingkungan hidup. Tingkatkan rasa peduli anda terhadap
        lingkungan. Baca selengkapnya di blog Jagatirta
      </p>
      <div class="container">
        <div class="left">
          <div class="post">
            <img src="/img/minyak.jpeg" alt="" />
            <div class="desc">
              <h4>
                Tumpahan Minyak di Karawang Kotori Laut dan Pantai Berhari-hari
              </h4>
              <p>
                Bocornya pipa minyak Pertamina sejak Rabu (21/4/2021) malam lalu
                membuat laut dan pantai di sekitar perairan Karawang, Jawa
                Barat, kotor berhari-hari. Pasca kejadian tumpahan minyak di
                area pantai Karawang.
              </p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="post">
            <img src="/img/irigasi.jpeg" alt="" />
            <div class="desc">
              <h4>
                Meningkatkan kesejahteraan petani melalui optimalisasi sistem
                irigasi
              </h4>
              <p>
                Irigasi merupakan salah satu faktor penting dalam produksi padi
                sawah. Irigasi sebagai sumber ketersediaan air untuk pertumbuhan
                tanaman padi.
              </p>
            </div>
          </div>
          <div class="post">
            <img src="/img/nikel.jpg" alt="" />
            <div class="desc">
              <h4>
                Lingkungan di Sulawesi Tenggara terancam limbah tambang nikel
              </h4>
              <p>
                Saat musim hujan tiba, dia berkata, limbah dari area
                pertambangan nikel terbawa arus ke perairan Pulau Labengki. Jika
                air sedang keruh, Tawing terpaksa urung membawa turis menyelam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('components/footer') %>
    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
