<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/exstyles') %>
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>login</title>
  </head>
  <body>
    <div class="form">
      <h1>login Indahlia</h1>
      <p>
        Berikan kontribusi anda pada keberlangsungan lingkungan terutama. Sebuah
        postingan ataupun laporan sangat berarti bagi kami dan lingkungan
      </p>
      <a href="/auth/google">
        <button>
          <img src="/img/google.png" alt="" />
          <span> masuk dengan google </span>
        </button>
      </a>
    </div>
    <div class="fact">
      Pelestarian lingkungan Indonesia tergolong buruk di skala global, bahkan
      di skala regional Asia Pasifik. Hal ini tercatat dalam laporan
      Environmental Performance Index 2022 (EPI). Hasilnya, Indonesia mendapat
      skor 28,2 dari 100. Skor ini menempatkan Indonesia di peringkat ke-164
      dari 180 negara yang diriset. <%= isLogin %>
    </div>
  </body>
</html>
