<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/exstyles') %>
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/workshop.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>
      Pelatihan Skill LIngkungan Hidup: Buka Hati Anda Perluas Wawasan
      Tingkatkan Kepedulian
    </title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="hero">
      <div class="content">
        <h1>Artikel lingkungan</h1>
        <p>
          Temukan berita terupdate apa saja yang terjadi di Indonesia terkait
          lingkungan hidup dan tambah wawasan anda mengenai inovasi di bidang
          teknologi bagi lingkungan
        </p>
      </div>
    </div>
    <section class="layout tools">
      <div class="top">
        <div class="search">
          <input
            type="text"
            placeholder="Cari Artikel Terkini"
            class="search-bar"
            aria-label="Search"
          />
          <button class="search-button"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </section>
    <section class="layout container">
      <!-- Card 1 -->
      <div class="card">
        <img src="/img/danau.jpeg" alt="Course Thumbnail" class="card-image" />
        <div class="card-content">
          <p class="author">By Ahmad Hakim</p>
          <h3>Membangun Aplikasi Cek Ongkir Menggunakan...</h3>
          <div class="info">
            <p>Intermediate &bull; 1 Jam</p>
            <p>715 Siswa &bull; 13 Modul</p>
          </div>
          <div class="rating">
            <span>⭐ 4.8</span>
            <button class="small">detail</button>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card">
        <img src="/img/danau.jpeg" alt="Course Thumbnail" class="card-image" />
        <div class="card-content">
          <p class="author">By Muhammad Singgih Z.A</p>
          <h3>Memahami Cara Kerja Tim IT di Perusahaan yang...</h3>
          <div class="info">
            <p>Intermediate &bull; 1 Jam</p>
            <p>428 Siswa &bull; 22 Modul</p>
          </div>
          <div class="rating">
            <span>⭐ 4.8</span>
            <button class="small">detail</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/img/danau.jpeg" alt="Course Thumbnail" class="card-image" />
        <div class="card-content">
          <p class="author">By Muhammad Singgih Z.A</p>
          <h3>Memahami Cara Kerja Tim IT di Perusahaan yang...</h3>
          <div class="info">
            <p>Intermediate &bull; 1 Jam</p>
            <p>428 Siswa &bull; 22 Modul</p>
          </div>
          <div class="rating">
            <span>⭐ 4.8</span>
            <button class="small">detail</button>
          </div>
        </div>
      </div>
    </section>
    <section class="layout promotion">
      <div class="feature">
        <h2>Bantu Pulihkan Lingkungan dengan Ilmu Pengetahuan</h2>
        <p>
          Lorem ipsum dolor sit a dignissimos. Dolorum consequatur aliquid
          soluta fugiat delectus! Lorem ipsum dolor sit amet consectetur.
        </p>
        <ul>
          <li>sss,s</li>
          <li>msmsm</li>
          <li>jsk</li>
        </ul>
      </div>
      <div class="review">
        <div class="review-card">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem,
            molestiae! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nihil inventore officia dolor ab!
          </p>
          <div class="star">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>Arifin Husain &bull; <i>Kelas Daur Ulang</i></span>
        </div>
        <div class="review-card">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem,
            molestiae! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nihil inventore officia dolor ab!
          </p>
          <div class="star">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>Arifin Husain &bull; <i>Kelas Daur Ulang</i></span>
        </div>
      </div>
      <div class="quote">
        <img src="/img/mangrove.jpg" alt="" />
        <blockquote>
          Anjay kelas Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Sapiente, eos? Lorem ipsum dolor sit amet, consectetur adipisicing.
          <span>~ Goat Yafi Santos El Jibas</span>
        </blockquote>
      </div>
    </section>
    <%- include('components/footer') %>
    <script src="/js/navbar.js"></script>
  </body>
</html>
