.hero {
  color: aliceblue;
  width: 100vw;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .content {
  margin: 0 auto;
  padding: 70px;
  width: 50%;
}
.thumbnail {
  width: 40%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -105px;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail {
  margin-top: 140px !important;
  display: flex;
  gap: 5%;
}
.detail .silabus {
  width: 65%;
}
.detail h2 {
  font-size: 40px !important;
  width: 70%;
}
.detail iframe {
  width: 80%;
  aspect-ratio: 16/9;
  margin: 20px 0;
}
.detail h3 {
  font-size: 20px;
  margin: 20px 0;
}
.detail .silabus .about {
  display: flex;
  gap: 2.5%;
  margin: 10px auto;
}

.about .box {
  padding: 10px 20px;
  width: 25%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: white;
  text-transform: capitalize;
}
.about .box span {
  display: block;
  margin: 3px;
}
.about .box span i {
  margin-right: 5px;
}
.about .box .what {
  color: gray;
}
.about .box .ans {
  font-weight: 700;
}
.materi p {
  margin: 5px 0;
}
.switch {
  display: flex;
  gap: 5%;
  margin: 20px auto;
  flex-direction: row;
  cursor: pointer;
}
.switch .box {
  width: 15%;
  /* padding:; */
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: white;
}
.switch .box span {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  font-size: 15px;
}
.quiz .question span {
  color: gray;
  display: block;
  margin: 20px 0 2px;
}
.quiz .question h4 {
  margin: 0 0 10px;
  font-size: 23px;
}

.quiz .question .options {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.quiz .question .option {
  margin: 10px 0;
  padding: 20px;
  font-family: var(--body-font);
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  transition: all 150ms ease;
}
.quiz .question input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  transition: all 150ms ease;
  border-left: 10px solid var(--blue);
}
.quiz button {
  margin: 20px 0;
}

.detail .info {
  width: 35%;
}
.detail .info iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 10px 0 20px;
}
.detail .info .step ul {
  display: flex;
  margin: 10px 0 20px;
  flex-direction: column;
  counter-reset: step;
}
.detail .info .step li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  counter-increment: step;
}
.detail .info .step li::before {
  content: counter(step);
  /* Automatically increment the counter */
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #4caf50; /* Default color, can be customized */
  color: white;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
  font-weight: bold;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hero {
    min-height: 60vh;
  }
  .thumbnail {
    width: 60%;
    bottom: -120px;
  }
  .detail .about {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .detail .about .box {
    /* padding: 10px 20px; */
    width: 35%;
    margin: 10px 0;
  }
  .detail .main p {
    font-size: 15px;
  }
  .switch .box {
    width: 30%;
  }
  .mentor {
    width: 80% !important;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    min-height: 50vh;
  }

  .hero .content {
    width: 90%;
    padding: 20px;
  }
  .thumbnail {
    width: 70%;
    bottom: -90px;
  }
  .detail {
    flex-direction: column;
  }
  .detail .silabus,
  .detail .info {
    width: 100%;
  }
  .detail h2 {
    width: 90%;
  }
  .detail .about {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* gap: 3%; */
  }
  .switch .box {
    width: 30%;
  }
  .detail .about .box {
    /* padding: 10px 20px; */
    width: 37%;
    margin: 10px 0;
  }
  .detail .main p {
    font-size: 15px;
  }
  .detail iframe {
    width: 100%;
  }
  .mentor {
    width: 80% !important;
  }
  .info iframe {
    width: 90% !important;
  }
}
.mentor {
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mentor .header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
}

.mentor .profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.mentor .info {
  flex-grow: 1;
}

.mentor .info h6 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.mentor .info p {
  margin: 4px 0 0;
  font-size: 0.9em;
  color: #555;
}

.mentor .desc {
  background-color: #fff;
  padding: 10px;
}

.mentor .desc p {
  margin: 10px;
  font-size: 13px;
  width: 70%;
  color: #333;
}
.mentor button {
  margin: 10px;
}
.info p {
  font-size: 13px;
  margin: -10px 0 20px;
}

.diskusi {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-container {
  width: 100%;
}

.comment-form {
  margin: 20px 0;
  width: 100%;
}

.comment-form input[type="text"],
.comment-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.comment-form button {
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.comment-item {
  padding: 10px 20px;
  margin: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.comment-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin: 0;
  color: #555;
}
