.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(1, 1, 1, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar.scrolled {
  background-color: rgba(3, 1, 20, 1);
}

.navbar .navbar-logo {
  padding-left: 50px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  font-family: var(--heading-font);
}
.navbar .navbar-nav {
  margin-left: 40vw;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar .navbar-nav a {
  color: var(--white);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;

  font-family: var(--body-font);
}
.navbar .navbar-nav a.btn {
  background: var(--blue);
  color: var(--white);
  padding: 5px 20px;
}
.navbar .navbar-nav a:hover {
  color: var(--white);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--white);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--white);
  margin: 0 0.5rem;
}

#menu {
  display: none;
}
/* media query laptop khusus navbar */
@media (min-width: 958px) and (max-width: 1004px) {
  .navbar .navbar-nav {
    margin-left: 22vw;
  }
}
/* media query tablet khusus navbar */
@media (min-width: 758px) and (max-width: 958px) {
  .navbar {
    padding: 10px 0;
  }
  .navbar .navbar-logo {
    padding: 20px;
    font-size: 25px;
  }
  .navbar .navbar-nav {
    margin-left: 22vw;
  }
  .navbar-logo span {
    margin-left: 3px;
  }
}
/* media query mobile khusus navbar */
@media (max-width: 758px) {
  #menu {
    display: inline-block;
    padding-right: 10px;
    font-size: 35px;
  }
  .navbar {
    background-color: rgba(3, 1, 20, 1);
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-family: var(--heading-font);
    font-style: oblique;
    top: 100%;
    right: -100%;
    background-color: rgba(1, 1, 1, 1);
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-logo {
    padding-left: 20px !important;
  }
  .jumbo h1 {
    margin-top: 30px !important;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--white);
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}
