:root {
  --heading-font: "Sansita", sans-serif;
  --body-font: "PT Sans", sans-serif;
  --white: aliceblue;
  --blue: rgb(62, 53, 190);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
html {
  overflow-x: hidden;
}
body {
  background-color: aliceblue;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: var(--heading-font);
  text-transform: capitalize;
}
p,
ul,
li,
span {
  font-family: var(--body-font);
}
button {
  padding: 20px 40px;
  background: rgb(62, 53, 190);
  color: aliceblue;
  font-weight: 500;
  text-transform: capitalize;
}
button.small {
  padding: 10px 20px;
}
a {
  text-decoration: none;
}
