.head h2 {
  font-size: 40px;
  margin: 10px 0;
}
.head p {
  font-size: 13px;
  width: 40%;
  margin: 10px 0;
}
.home-section {
  margin-left: 30px;
}
.main form {
  width: 90%;
  padding-bottom: 80px;
  /* padding-left: 50px; */
}
.input-group {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 10px 0;
}
.input-group .title {
  margin: 10px 0;
  font-size: 23px;
  text-transform: capitalize;
}
.input-group input,
.input-group select,
.input-group textarea {
  min-height: 35px;
  font-size: 15px;
  border: 1px solid var(--blue);
  background: white;
  padding: 10px;
}
.input-group textarea {
  min-height: 100px;
  font-family: var(--body-font);
}
.input-group select option {
  text-transform: capitalize;
}
.input-group .note {
  display: block;
  margin: 5px 0;
  font-size: 12px;
}
.input-group .ql-snow {
  background-color: white;
  border: 1px solid var(--blue);
  /* min-height: 100px; */
}
.input-group #editor {
  min-height: 200px;
}
.input-group.input-row {
  /* background-color: blueviolet; */
  flex-direction: row;
  gap: 20px;
}
.input-group .input-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* will-change: 100%; */
}
.input-col iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 20px 0;
}
/* .input-group; */
.main .file-zone {
  width: 100%;
  height: 300px;
  border: 1px solid var(--blue);
  background-color: white;
  display: flex;
  position: relative;
}
.main .file-zone input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.main .file-zone p {
  display: block;
  text-align: center;
  margin: auto;
}
.main .file-zone .preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-group {
  display: flex;
  width: 80%;
  margin: 10px 0;
  justify-content: space-between;
  color: var(--white);
}
.button-group button {
  padding: 15px 40px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: ; */
}
.button-group i {
  font-size: 16px;
  margin: 0 5px;
}
.button-group .reset {
  background-color: rgb(220, 45, 45);
}
.gray {
  background: rgb(179, 178, 178);
}
.hidden {
  display: none !important;
}
