.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.363),
      rgba(0, 0, 0, 0.342) 55%,
      rgba(0, 0, 0, 0.955)
    ),
    url("/img/background/blog_hero.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  padding: 20px;
  display: flex;
  border-radius: 25px;
}
.banner h2 {
  margin-top: auto;
  color: var(--white);
}
.count {
  margin: 30px 0;
  width: 100%;
  display: flex;
  /* gap: 2%; */
  font-family: var(--body-font);
  justify-content: space-between;
}
.count .box {
  width: 22%;
  min-height: 100px;
  background: white;
  box-shadow: 0 4px 15px rgba(32, 32, 32, 0.135);
  padding: 10px 20px;
  position: relative;
  border-radius: 16px;
}
.count .box .head {
  font-size: 15px;
  /* font-weight: 700; */
}
.count .box .num {
  font-weight: 700;
  font-size: 40px;
}
.count .box .add {
  display: flex;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* aspect-ratio: 1/1; */
  background: var(--blue);
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
}
.count .box .add i {
  display: block;
  font-size: 15px;
  margin: auto;
}
.activity {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: space-between;
}
.activity #bar {
  height: 400px !important;
  /* width: 60% !important; */
  /* aspect-ratio: 16/9; */
}
.activity .chart {
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(32, 32, 32, 0.135);
}
.activity .record {
  background-color: white;
  width: 40%;
  height: 100%;
  padding: 10px;
  border-radius: 16px;
  font-family: var(--body-font);
  box-shadow: 0 4px 15px rgba(32, 32, 32, 0.135);
}
.activity .record .list {
  width: 80%;
  box-shadow: 0 4px 15px rgba(32, 32, 32, 0.316);
  border-radius: 12px;
  padding: 5px 10px;
  margin: 15px;
}
.activity .record .table {
  font-size: 16px;
  font-weight: 700;
}
.activity .record span {
  display: block;
  font-size: 12px;
  width: 60%;
}
